<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">
    <div class="form-group">
        <label for="carat">Carat:</label>
        <input type="text" id="carat" name="carat" class="input-text" placeholder="x" required>
    </div>

    <div class="form-group">
        <label for="depth">Depth:</label>
        <input type="text" id="depth" name="depth"  class="input-text" placeholder="depth" required>
    </div>

    <div class="form-group">  
        <label for="table">Table:</label>
        <input type="text" id="table" name="table" class="input-text"    placeholder="table" required>
    </div>
    
    <div class="form-group">
        <label for="x">x:</label>
        <input type="text" id="x" name="x" class="input-text"   placeholder="x" required>
    </div>
  
    <div class="form-group">
        <label for="y">y:</label>
        <input type="text" id="y" name="y" class="input-text"  placeholder=" y" required>
    </div>
  
    <div class="form-group">
        <label for="z">z:</label>
        <input type="text" id="z" name="z" class="input-text"   placeholder="z" required>
    </div> 
    
    <div class="form-group">
      <label for="cut">cut:</label>
      <input type="text" id="cut" name="cut" class="input-text" placeholder="cut" required>
  </div> 
  
  <div class="form-group">
    <label for="color">color:</label>
    <input type="text" id="color" name="color" class="input-text"  placeholder="color" required>
  </div> 

  
  <div class="form-group">
    <label for="clarity">clarity:</label>
    <input type="text" id="clarity" name="clarity" class="input-text" placeholder="clarity" required>
  </div>  

    
  
<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>

{{final_result}}
</body>
</html>